html,
body {
  background-color: rgb(205, 205, 205);
}

.wrapper {
  background-color: white;
  width: 800px;
  margin: 0 auto;
  padding: 2rem;
  height: 50%;
}

h1 {
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
}

ul.horizontal {
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  display: inline-block;
  margin-right: 8px;
}

ul li.pill {
  margin-bottom: 1rem;
  padding: 4px 8px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 18px;
}

ul.slots li.pill {
  width: 33%;
  white-space: nowrap;
}

ul.horizontal li:last-child {
  margin-right: 0;
}

ul.horizontal li.selected {
  background-color: rgb(128, 174, 254);
  color: white;
}

.day-names,
.slots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.slots li {
  max-width: 100px;
  text-align: center;
  margin: 0 8px;
}
